* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Times", "Times New Roman", "Georgia", serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

/* ***************************/
/* Common style on all pages */
/* ***************************/
#header {
    padding: 0.4rem 0;
    padding-left: 3rem;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
}

#header a {
    color: rgb(240, 240, 240);
}

#nav {
    margin-top: 2rem;
    padding: 0.4rem 3rem;
    font-size: 30px;
    color: rgb(240, 240, 240);

    display: flex;
}

#nav a {
    margin: 0 20px;
    color: rgb(240, 240, 240);
}

.elements-container {
    display: flex;
    
    padding: 0.4rem 3rem;
    gap: 3rem;
    margin-bottom: 5rem;
}

.main-content {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(41, 46, 52, 0.8);
    border-radius: 1rem;
    box-shadow: 6px 6px rgba(22, 24, 29, 0.8);
    max-width: 76%;
    color: rgb(240, 240, 240);
}

#footer {
    width: 100%;
    margin-top: auto;
    text-align: center;
    padding: 1rem 0;
    font-size: 30px;  
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
}

.about-page3, .about-page2 {
    max-height: 450px;
    max-width: 364px;
    font-size: 30px;
    background-color: rgba(41, 46, 52, 0.8);
    box-shadow: 6px 6px rgba(22, 24, 29, 0.8);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    color: rgb(240, 240, 240); 
}

.about-page3 p, .about-page2 p {
    line-height: 1.4em;
}

.flex-break {
    flex-basis: 100%;
    width: 0;
}

/* *********************************************/
/* Unique style for the Home page (index.html) */
/* *********************************************/
#index-content {
    background: linear-gradient(rgba(41, 78, 92, 0.521),rgba(0, 0, 0, 0.5)), url(./images/background_images/pexels-whileopenmind-10635648.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* index main box */
.index-about-section {
    padding: 1rem;
    text-align: center;
    font-size: 30px;
    line-height: 1.4em;
}

.index-about-section h2 {
    margin-bottom: 10px;
}
    
.page2-summary-section, .page3-summary-section {
    padding: 1rem;
    max-width: 480px;
    margin: 10px;
    text-align: center;
    margin: 2rem 0;
    font-size: 26px;
}

.page2-summary-section p, .page3-summary-section p {
    margin: 2rem 0;
    line-height: 1.4em;  
}

/* ********************************* */
/* Style for the form from index.html*/
/* ********************************* */
.form {      
    max-height: 670px;
    max-width: 364px;
    font-size: 30px;
    background-color: rgba(41, 46, 52, 0.8);
    box-shadow: 6px 6px rgba(22, 24, 29, 0.8);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(240, 240, 240); 
}

.form-title-description {
    text-align: center;
}

.form-title-description h2 {
     padding: 1rem 0;
}

.form-title-description p {
    padding: 0.6rem 1rem;
}

#form-textarea {
    margin: 1rem 1rem;
    max-width: 310px;
    max-height: 120px;
    min-height: 120px;
    font-size: 26px;
    border-radius: 0.4rem;
}

#form-mail {
    font-size: 25px;
    border-radius: 0.3rem;
}

.form-checkboxes {
    margin: 10px;
    text-align: center;
}

.btn-form {
    margin: 1rem;
}

/* *******************************************/
/* Unique style for hobbies page (page2.html)*/
/* *******************************************/
#hobbies-content {
    background: linear-gradient(rgba(17, 42, 67, 0.521),rgba(0, 0, 0, 0.5)), url(./images/background_images/pexels-pixabay-355465.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.hobbies-about-section {
    padding: 1rem;
    text-align: center;
    font-size: 30px;
    line-height: 1.4em;
    max-width: 600px;
}

.hobbies-about-section h2 {
    margin-bottom: 10px;
}

.table-games {
    
    margin: 0 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    
}

.table-games caption {
    caption-side: top;
    font-weight: bold;
    font-size: 26px;
    padding-top: 1rem;
}

.table-games th, .table-games td {
    background-color: rgba(79, 83, 87, 0.5);
    border: 1px solid white;
    font-size: 26px;
    padding: 1rem;
    width: 260px;
    text-align: center;
    border-radius: 3px;
}

.photos-about-and-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.photos-about-section {
    max-width: 480px;
    margin: 2.6rem 2rem;
    text-align: center;
    font-size: 30px;
}

.photos-about-section h3 {
    margin-bottom: 0.5rem;
}

.photos-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6rem;
}

.photos-style {
    height: 300px;
    width: auto;
    border-radius: 1rem;
    border: 4px solid rgb(26, 26, 26);
    box-shadow: 6px 6px rgba(22, 24, 29, 0.8);
    border-radius: 6px;
    transition: 0.5s
}

.photos-style:hover {
    border: 4px solid rgb(240, 240, 240);
}

/* ************************************************/
/* Unique style for Future Plans page (page.html) */
/* ************************************************/
#future-plans-content {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)), url(./images/background_images/pexels-pixabay-417192.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.future-plans-about-section {
    padding: 1rem;
    text-align: center;
    flex: 1 1 100%;
    font-size: 30px;
    line-height: 1.4em;
}

.future-plans-about-section h2 {
    margin-bottom: 10px;
}

.list-section {
    padding: 1rem;
    max-width: 480px;
    text-align: center;
    line-height: 1.4em;
    font-size: 1.6rem;
    margin: 1rem 2rem;
    max-width: 500px;
}
.list-section p {
    margin: 2rem 0;
    
}

.list-section li {
    text-align: left;
}

/* ***************************************/
/* Common Buttons and Links on all pages */
/* ***************************************/
.btn {
    padding: 0.4rem 1rem;
    font-size: 20px;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    transition: 0.4s;
    color: rgb(0, 0, 0);
}

.btn-home {
    margin: 2rem 1rem;
}

a {
    text-decoration: none;
}

.btn:hover {
    background-color: white;
    transform: translate(-1px, -2px); 
    opacity: 1;
    box-shadow: 2px 2px rgb(120, 120, 120);
}

a:link {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(0, 0, 0);
}

.btn:active {
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
    transform: translate(0px, 0px); 
    opacity: 1;
    box-shadow: 0px 0px;
}

#header a:hover {
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#nav a:hover {
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/* ********************** */
/* Different screen sizes */
/* ********************** */
@media (max-width: 1000px) {
    #header {
        text-align: center;
        padding: 0.4rem 0;
    }

    #nav {
        justify-content: center;
    }

    .elements-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.4rem 0rem;
    }
    
    .about-page2 a, .about-page3 a {
        margin: 1rem 0;
    }
}

@media (max-width: 650px) {
    #header {
        padding: 0;
    }
    
    #header a {
        font-size: 2.6rem;
    }

    #nav {
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        margin: 0.7rem 0;
    }

    #nav a {
        margin-bottom: 0.5rem;
    }

    #nav p {
        display: none;
    }

    .photos-about-section {
        max-width: 400px;
    }

    .photos-style {
        height: 180px;
        width: auto;
    }
}